In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing  import LabelEncoder
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

In [76]:
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import datetime
import time
chromrdriver = "C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe"
os.environ["webdriver.chrome.driver"] = chromrdriver
source = []
driver = webdriver.Chrome(chromrdriver)
for x in range(1,700):
    page = "https://bina.az/alqi-satqi?page"+"="+str(x)
    driver.get(page)

    ScrollNumber = 2
    for i in range(1,ScrollNumber):
        driver.execute_script("window.scrollTo(1,2000)")
        time.sleep(5)
    source.append(driver.page_source)


driver.close()
print(source)

C:\Users\HP\AppData\Local\Temp\ipykernel_9316\880880534.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromrdriver)

In [3]:
bina_soup = BeautifulSoup(source[0],'html.parser')
binas_prices = bina_soup.findAll('div',attrs={"class":"price"})
binas_loc = bina_soup.findAll('div',attrs={"class":"location"})
binas_names = bina_soup.findAll('ul',attrs={"class":"name"})
binas_dates = bina_soup.findAll('div',attrs={"class":"city_when"})
for i in range(1,len(source)):
    bina_soup = BeautifulSoup(source[i],'html.parser')
    binas_prices += bina_soup.findAll('div',attrs={"class":"price"})
    binas_loc += bina_soup.findAll('div',attrs={"class":"location"})
    binas_names += bina_soup.findAll('ul',attrs={"class":"name"})
    binas_dates += bina_soup.findAll('div',attrs={"class":"city_when"})
binas_dates

NameError: name 'source' is not defined

In [ ]:
'''import json
dates = []
prices = []
locations = []
names = []
for i in range(0,len(binas_names)):
  #  ns = {"Names":binas_names[i].text,"Dates":binas_dates[i].text,"Location":binas_loc[i].text,"Prices":binas_prices[i].text}
   locations.append(ns)
#json.dumps(locations,ensure_ascii=False)'''

In [ ]:
names = []
locations = []
import numpy as np
prices = []
dates = []
for i in range(0,len(binas_names)):
    names.append(binas_names[i].text)
    locations.append(binas_loc[i].text)
    dates.append(binas_dates[i].text[binas_dates[i].text.find(" ")+1:len(binas_dates[i].text)])
    prices.append(int(binas_prices[i].text[0:binas_prices[i].text.find("A")].replace(" ",""))
    
area = []
floor = []
room = []
for x in names:
    i = x.find('o')
    j = x.find('ı')
    k= x.find('m')
    q = x.find("ə")
    rm = x[i-2:i]
    try:
        int(rm)
    except:
        rm = np.nan
    ar = x[j+1:k]
    try:
        float(ar)
    except:
        ar = ar[0:ar.find('s')]
    fl = x[k+2:q-1]
    if fl.find("s") != -1 or fl=="":
        floor.append(np.nan)
    else:
        floor.append(fl)
    area.append(ar)
    room.append(rm)
bins = pd.DataFrame({'Locations':locations,'Prices':prices,'Dates':dates,"Floor":floor,"Area":area,"Rooms":room})
#bins['Area'] = bins['Area'].astype(float)
#bins['Locations'].unique()
#bins['Rooms'].interpolate(method='linear')
bins
bins.to_csv('bnk1.csv')

                Locations  Prices        Dates   Floor   Area Rooms
0              Masazır q.   52000  bugün 23:25   7/10    50.0    2
1                Xırdalan   78000  bugün 23:25  15/16    64.7    2
2              Novxanı q.   80000  bugün 23:24     NaN    10    NaN
3    Şah İsmayıl Xətai m.  228999  bugün 23:24    3/6   141.0    3
4          Memar Əcəmi m.   65000  bugün 23:22    2/5    50.0    2
..                    ...     ...          ...     ...    ...   ...
211  Nəriman Nərimanov m.  240000  bugün 20:20   6/16   133.0    3
212             Nəsimi r.  310000  bugün 20:17   8/20   192.5    4
213            Yasamal q.   96000  bugün 21:05    5/5    65.0    2
214       Yeni Yasamal q.   73000  bugün 20:17    6/9    50.0    2
215             Nəsimi r.  156000  bugün 20:15  15/20   100.0    3

[216 rows x 6 columns]

In [ ]:
bins['Floor'] = bins['Floor'].fillna("1/1",axis=0)
bins['Rooms'] = bins['Rooms'].fillna(bins['Rooms'].mode()[0])
bins

                Locations  Prices        Dates   Floor   Area Rooms
0              Masazır q.   52000  bugün 23:25   7/10    50.0    2
1                Xırdalan   78000  bugün 23:25  15/16    64.7    2
2              Novxanı q.   80000  bugün 23:24     1/1    10     3
3    Şah İsmayıl Xətai m.  228999  bugün 23:24    3/6   141.0    3
4          Memar Əcəmi m.   65000  bugün 23:22    2/5    50.0    2
..                    ...     ...          ...     ...    ...   ...
211  Nəriman Nərimanov m.  240000  bugün 20:20   6/16   133.0    3
212             Nəsimi r.  310000  bugün 20:17   8/20   192.5    4
213            Yasamal q.   96000  bugün 21:05    5/5    65.0    2
214       Yeni Yasamal q.   73000  bugün 20:17    6/9    50.0    2
215             Nəsimi r.  156000  bugün 20:15  15/20   100.0    3

[216 rows x 6 columns]

In [ ]:
floors = []
current_floor = []
for x in np.array(bins['Floor']):
    current_floor.append(int(x.split('/')[0]))
    floors.append(int(x.split('/')[1]))
bins = bins.assign(Floors = floors,Current_floor = current_floor)
df = bins.drop(['Floor','Dates'],axis=1)
df

                Locations  Prices   Area Rooms  Floors  Current_floor
0              Masazır q.   52000   50.0    2       10              7
1                Xırdalan   78000   64.7    2       16             15
2              Novxanı q.   80000    10     3        1              1
3    Şah İsmayıl Xətai m.  228999  141.0    3        6              3
4          Memar Əcəmi m.   65000   50.0    2        5              2
..                    ...     ...    ...   ...     ...            ...
211  Nəriman Nərimanov m.  240000  133.0    3       16              6
212             Nəsimi r.  310000  192.5    4       20              8
213            Yasamal q.   96000   65.0    2        5              5
214       Yeni Yasamal q.   73000   50.0    2        9              6
215             Nəsimi r.  156000  100.0    3       20             15

[216 rows x 6 columns]

In [ ]:
df.to_csv('bnk2.csv')

In [ ]:
scaler = LabelEncoder()
df['LocationLabel'] = scaler.fit_transform(df['Locations'])
df['Rooms'] = scaler.fit_transform(df['Rooms'])
df

,Locations,Prices,Area,Rooms,Floors,Current_floor,LocationLabel
0,Masazır q.,52000,50.0,1,10,7,23
1,Xırdalan,78000,64.7,1,16,15,49
2,Novxanı q.,80000,10.0,2,1,1,33
3,Şah İsmayıl Xətai m.,228999,141.0,2,6,3,57
4,Memar Əcəmi m.,65000,50.0,1,5,2,25
...,...,...,...,...,...,...,...
211,Nəriman Nərimanov m.,240000,133.0,2,16,6,34
212,Nəsimi r.,310000,192.5,3,20,8,37
213,Yasamal q.,96000,65.0,1,5,5,51
214,Yeni Yasamal q.,73000,50.0,1,9,6,53
215,Nəsimi r.,156000,100.0,2,20,15,37

In [ ]:
from sklearn.model_selection import train_test_split
import xgboost as xg
from sklearn.metrics import accuracy_score
X = df.drop(['Locations','Prices'],axis=1)
y = df['Prices']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=123,test_size=0.4)
xgb_r = xg.XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 123)
  
# Fitting the model
xgb_r.fit(X_train, y_train)
  
# Predict the model
pred = xgb_r.predict(pd.DataFrame({'Area':[50.0],'Rooms':[3],'Floor':[2],'Current_floor':[5],"LocationLabel":[43]}))
print(pred)

[00:22:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.
[62025.14]

In [ ]:
def predictBina(ar,rm,fl,cfl,ll):
    ll = np.array(df[df['Locations']==ll]['LocationLabel'])[0]
    pred = xgb_r.predict(pd.DataFrame({'Area':[ar],'Rooms':[rm],'Floor':[fl],'Current_floor':[cfl],"LocationLabel":[ll]}))
    return pred[0]
print(predictBina(100,4,15,10,'Yasamal q.'))

150251.03

In [ ]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2
Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2
Note: you may need to restart the kernel to use updated packages.