In [22]:
import os
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup


import csv

import time
chromrdriver = "C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe"
os.environ["webdriver.chrome.driver"] = chromrdriver
driver = webdriver.Chrome(chromrdriver)
for x in range(261,265):
    page = "https://bina.az/kiraye?page"+"="+str(x)
    driver.get(page)
    driver.execute_script("window.scrollTo(1,2000)")
    time.sleep(5)
    bina_soup = BeautifulSoup(driver.page_source,'html.parser')
    prices = bina_soup.findAll('div',attrs={"class":"price"})
    locs = bina_soup.findAll('div',attrs={"class":"location"}) 
    names = bina_soup.findAll('ul',attrs={"class":"name"})
    with open('bigs_kiraye.csv','a',encoding='utf-8') as f1:
            for i in range(0,len(names)):
                f1.write(names[i].text+","+locs[i].text+","+prices[i].text+"\n")
                f1.closed
driver.close()

C:\Users\HP\AppData\Local\Temp/ipykernel_7848/1075078869.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromrdriver)

In [29]:
import pandas as pd
df = pd.read_csv('bigs_kiraye.csv')
df = df.assign(rent=np.ones(len(df['Names'])))
df

                           Names             Locations   Prices/Mon  rent
0       2 otaqlı80 m²5/5 mərtəbə          20 Yanvar m.    130AZN/ay   1.0
1                 4 otaqlı200 m²                 Qusar   150AZN/gün   1.0
2       2 otaqlı45 m²6/9 mərtəbə          Neftçilər m.    350AZN/ay   1.0
3      3 otaqlı100 m²1/9 mərtəbə             Nəsimi r.    80AZN/gün   1.0
4                         210 m²            Görədil q.   120AZN/gün   1.0
...                          ...                   ...          ...   ...
6355  2 otaqlı90 m²10/19 mərtəbə            Əhmədli m.    600AZN/ay   1.0
6356                       60 m²            Yasamal r.    900AZN/ay   1.0
6357  3 otaqlı140 m²5/18 mərtəbə  Şah İsmayıl Xətai m.    800AZN/ay   1.0
6358   3 otaqlı150 m²5/7 mərtəbə              Xətai r.  1 500AZN/ay   1.0
6359   3 otaqlı90 m²2/12 mərtəbə        İçəri Şəhər m.  1 700AZN/ay   1.0

[6360 rows x 4 columns]

In [31]:
area = []
floor = []
room = []
for x in list(df['Names']):
    i = x.find('o')
    j = x.find('ı')
    k= x.find('m')
    q = x.find("ə")
    rm = x[i-2:i]
    try:
        int(rm)
    except:
        rm = np.nan
    ar = x[j+1:k]
    try:
        float(ar)
    except:
        ar = float(ar[0:ar.find('s')])*100
    fl = x[k+2:q-1]
    if fl.find("s") != -1 or fl=="":
        floor.append(np.nan)
    else:
        floor.append(fl)
    area.append(ar)
    room.append(rm)
dfs = pd.DataFrame({'Locations':df['Locations'],'Prices':df['Prices/Mon'],'Floor':floor,'Area':area,'Rooms':room,'Rent':df['rent']})
dfs.head(54)

                Locations       Prices   Floor  Area Rooms  Rent
0            20 Yanvar m.    130AZN/ay    5/5    80     2    1.0
1                   Qusar   150AZN/gün     NaN  200     4    1.0
2            Neftçilər m.    350AZN/ay    6/9    45     2    1.0
3               Nəsimi r.    80AZN/gün    1/9   100     3    1.0
4              Görədil q.   120AZN/gün     NaN  210    NaN   1.0
5              Buzovna q.   100AZN/gün     NaN  350    NaN   1.0
6              Gənclik m.  3 000AZN/ay     NaN  200    NaN   1.0
7   Elmlər Akademiyası m.    650AZN/ay  15/16    80     3    1.0
8            Nərimanov r.    850AZN/ay   9/16    80     3    1.0
9             Mərdəkan q.  5 000AZN/ay     NaN  140    NaN   1.0
10         İçəri Şəhər m.    900AZN/ay    3/3   100     3    1.0
11        Həzi Aslanov m.    500AZN/ay     NaN   31    NaN   1.0
12         Memar Əcəmi m.    120AZN/ay    2/5    45     2    1.0
13              Səbail r.  7 500AZN/ay     NaN  150    NaN   1.0
14             Gənclik m.    800AZN/ay    7/7    70     2    1.0
15               Xırdalan    400AZN/ay   3/12    59     1    1.0
16             Gənclik m.    700AZN/ay    7/7    70     2    1.0
17          Avtovağzal m.    450AZN/ay    3/5    75     2    1.0
18                 Qəbələ   140AZN/gün     NaN  200     3    1.0
19              28 May m.    650AZN/ay    2/4    65     3    1.0
20               Bayıl q.    700AZN/ay   2/16   100     3    1.0
21           Neftçilər m.    350AZN/ay    6/9    50     2    1.0
22               Sumqayıt    220AZN/ay    3/4    60     2    1.0
23             Yasamal r.   800AZN/gün     NaN   70    NaN   1.0
24           20 Yanvar m.    130AZN/ay    5/5    80     2    1.0
25                  Qusar   150AZN/gün     NaN  200     4    1.0
26           Neftçilər m.    350AZN/ay    6/9    45     2    1.0
27              Nəsimi r.    80AZN/gün    1/9   100     3    1.0
28             Görədil q.   120AZN/gün     NaN  210    NaN   1.0
29             Buzovna q.   100AZN/gün     NaN  350    NaN   1.0
30             Gənclik m.  3 000AZN/ay     NaN  200    NaN   1.0
31  Elmlər Akademiyası m.    650AZN/ay  15/16    80     3    1.0
32           Nərimanov r.    850AZN/ay   9/16    80     3    1.0
33            Mərdəkan q.  5 000AZN/ay     NaN  140    NaN   1.0
34         İçəri Şəhər m.    900AZN/ay    3/3   100     3    1.0
35        Həzi Aslanov m.    500AZN/ay     NaN   31    NaN   1.0
36         Memar Əcəmi m.    120AZN/ay    2/5    45     2    1.0
37              Səbail r.  7 500AZN/ay     NaN  150    NaN   1.0
38             Gənclik m.    800AZN/ay    7/7    70     2    1.0
39               Xırdalan    400AZN/ay   3/12    59     1    1.0
40             Gənclik m.    700AZN/ay    7/7    70     2    1.0
41          Avtovağzal m.    450AZN/ay    3/5    75     2    1.0
42                 Qəbələ   140AZN/gün     NaN  200     3    1.0
43              28 May m.    650AZN/ay    2/4    65     3    1.0
44               Bayıl q.    700AZN/ay   2/16   100     3    1.0
45           Neftçilər m.    350AZN/ay    6/9    50     2    1.0
46               Sumqayıt    220AZN/ay    3/4    60     2    1.0
47             Yasamal r.   800AZN/gün     NaN   70    NaN   1.0
48               Sahil m.    70AZN/gün   4/16   200     4    1.0
49              Nizami r.    600AZN/ay  17/18   110     3    1.0
50              Nəsimi r.    600AZN/ay   9/17    91     2    1.0
51         Memar Əcəmi m.    180AZN/ay   3/10   110     3    1.0
52  Elmlər Akademiyası m.    400AZN/ay    2/5    35     1    1.0
53             Gənclik m.  4 000AZN/ay     NaN  400     7    1.0

In [33]:
dfs['Prices'] = list(map(lambda x:int(x[0:x.find("A")].replace(" ","")) if str(x).find('g')!=-1 else int(x[0:x.find("A")].replace(" ",""))*30,list(dfs['Prices'])))
dfs

                 Locations  Prices   Floor  Area Rooms  Rent
0             20 Yanvar m.    3900    5/5    80     2    1.0
1                    Qusar     150     NaN  200     4    1.0
2             Neftçilər m.   10500    6/9    45     2    1.0
3                Nəsimi r.      80    1/9   100     3    1.0
4               Görədil q.     120     NaN  210    NaN   1.0
...                    ...     ...     ...   ...   ...   ...
6355            Əhmədli m.   18000  10/19    90     2    1.0
6356            Yasamal r.   27000     NaN   60    NaN   1.0
6357  Şah İsmayıl Xətai m.   24000   5/18   140     3    1.0
6358              Xətai r.   45000    5/7   150     3    1.0
6359        İçəri Şəhər m.   51000   2/12    90     3    1.0

[6360 rows x 6 columns]

In [38]:
xs = pd.read_csv('all_binas.csv')
xs = xs.drop(['Unnamed: 0'],axis=1)
xs = xs.assign(Rent=np.zeros(len(xs['Prices'])))
data = pd.concat([dfs, xs], ignore_index=True)
data.to_csv('bina_kiraye_menzil.csv')

In [41]:
import pandas as pd
df = pd.read_csv('bina_kiraye_menzil.csv')
df = df.drop(['Unnamed: 0'],axis=1)
df

          Locations  Prices   Floor   Area  Rooms  Rent
0      20 Yanvar m.    3900    5/5    80.0    2.0   1.0
1             Qusar     150     NaN  200.0    4.0   1.0
2      Neftçilər m.   10500    6/9    45.0    2.0   1.0
3         Nəsimi r.      80    1/9   100.0    3.0   1.0
4        Görədil q.     120     NaN  210.0    NaN   1.0
...             ...     ...     ...    ...    ...   ...
39909       Qala q.   45000     NaN  145.0    4.0   0.0
39910     Nizami r.  162500   4/18   130.0    2.0   0.0
39911  Nərimanov r.   62000    4/9    34.0    1.0   0.0
39912      Bayıl q.  155000    4/5    95.0    3.0   0.0
39913  Nərimanov r.  850000  10/11   278.0    5.0   0.0

[39914 rows x 6 columns]

In [108]:
area = []
floor = []
room = []
for x in list(df['Names']):
    i = x.find('o')
    j = x.find('ı')
    k= x.find('m')
    q = x.find("ə")
    rm = x[i-2:i]
    try:
        int(rm)
    except:
        rm = np.nan
    ar = x[j+1:k]
    try:
        float(ar)
    except:
        ar = float(ar[0:ar.find('s')])*100
    fl = x[k+2:q-1]
    if fl.find("s") != -1 or fl=="":
        floor.append(np.nan)
    else:
        floor.append(fl)
    area.append(ar)
    room.append(rm)
dfs = pd.DataFrame({'Locations':df['Locations'],'Prices':df['Prices'],'Floor':floor,'Area':area,'Rooms':room,})
dfs.head(54)

                Locations        Prices   Floor    Area Rooms
0              Yasamal r.    198 320AZN   5/17     134     3
1      7-ci mikrorayon q.     75 000AZN    1/5      50     2
2               Nəsimi r.     36 000AZN     NaN     25    NaN
3                Xətai r.    243 000AZN    3/7     135     3
4               28 May m.    350 000AZN   6/17     165     3
5            Bakıxanov q.     56 000AZN    8/8      49     1
6              Yasamal r.    155 000AZN  15/19      90     3
7            Nərimanov r.    127 000AZN   5/16      60     2
8      7-ci mikrorayon q.     92 000AZN    3/5      75     3
9              Yasamal r.    314 000AZN  16/22   152.1     3
10             Gənclik m.    120 000AZN     NaN     36    NaN
11         Memar Əcəmi m.     84 000AZN    4/5      68     2
12  Elmlər Akademiyası m.    107 000AZN    5/9      60     2
13         İnşaatçılar m.     85 000AZN    1/5      50     2
14            Binəqədi q.     51 000AZN    3/7      52     2
15  Elmlər Akademiyası m.    172 000AZN  12/19      90     2
16               Xırdalan     67 000AZN   5/16      64     2
17         İçəri Şəhər m.    370 000AZN    2/4     200     4
18           Nərimanov r.    225 000AZN   6/16     105     3
19         İnşaatçılar m.     98 000AZN    9/9      70     3
20            Mərdəkan q.    287 000AZN     NaN    190    NaN
21              Bilgəh q.    365 000AZN     NaN    800     5
22            Badamdar q.     73 000AZN     NaN   350.0   NaN
23  Elmlər Akademiyası m.    185 000AZN     NaN     90    NaN
24             Yasamal q.    125 000AZN    9/9      79     3
25             Yasamal r.    124 000AZN    7/9      72     3
26        Yeni Yasamal q.    136 000AZN   3/11     100     3
27         İnşaatçılar m.    212 000AZN  16/18     138     3
28             Yasamal r.    190 000AZN   7/17     108     2
29         İnşaatçılar m.     95 000AZN  11/21      75     2
30        Həzi Aslanov m.    122 000AZN  12/17      74     3
31              Nəsimi r.    820 000AZN  11/17     460     7
32               Sahil m.    690 000AZN  12/14     230     4
33             Yasamal r.    120 000AZN    4/5      60     2
34             Masazır q.     41 500AZN    2/8      44     2
35              Nəsimi r.    380 000AZN  12/17     210     4
36     8-ci mikrorayon q.    850 000AZN     NaN    850    NaN
37             Buzovna q.     35 700AZN     NaN    115     3
38              Nizami r.     75 000AZN    5/5      55     2
39             Gənclik m.    199 000AZN    5/9     145     4
40        Həzi Aslanov m.    160 000AZN   5/17     110     3
41        Həzi Aslanov m.    159 000AZN  10/19      90     3
42             Masazır q.     70 000AZN    4/6      75     2
43             Masazır q.     70 000AZN    4/6      82     3
44             Masazır q.     81 000AZN    4/5     102     3
45             Şüvəlan q.  1 500 000AZN     NaN    900    NaN
46             Şüvəlan q.    550 000AZN     NaN    500    NaN
47         Yeni Ramana q.     18 000AZN     NaN   400.0   NaN
48             Buzovna q.     65 000AZN     NaN     80    NaN
49            Mərdəkan q.    280 000AZN     NaN    200    NaN
50             Şüvəlan q.     57 000AZN     NaN   600.0   NaN
51          Şimal DRES q.     50 000AZN     NaN   600.0   NaN
52             Şüvəlan q.     50 000AZN     NaN   500.0   NaN
53             Masazır q.     65 000AZN    3/7      85     2

In [109]:
xf = pd.read_csv('bina.csv')
xf = xf.drop(['Dates'],axis=1)

In [110]:
data = pd.concat([dfs, xf], ignore_index=True)
data['Prices'] = list(map(lambda x:int(x[0:x.find("A")].replace(" ","")) if str(x).find('A')!=-1 else x,list(data['Prices'])))
data.to_csv('all_binas.csv')

                Locations  Prices   Floor   Area  Rooms
0              Yasamal r.  198320   5/17   134.0    3.0
1      7-ci mikrorayon q.   75000    1/5    50.0    2.0
2               Nəsimi r.   36000     NaN   25.0    NaN
3                Xətai r.  243000    3/7   135.0    3.0
4               28 May m.  350000   6/17   165.0    3.0
...                   ...     ...     ...    ...    ...
33549             Qala q.   45000     NaN  145.0    4.0
33550           Nizami r.  162500   4/18   130.0    2.0
33551        Nərimanov r.   62000    4/9    34.0    1.0
33552            Bayıl q.  155000    4/5    95.0    3.0
33553        Nərimanov r.  850000  10/11   278.0    5.0

[33554 rows x 5 columns]

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('all_binas.csv')
df = df.drop(['Unnamed: 0'],axis=1)
df

                Locations  Prices   Floor   Area  Rooms
0              Yasamal r.  198320   5/17   134.0    3.0
1      7-ci mikrorayon q.   75000    1/5    50.0    2.0
2               Nəsimi r.   36000     NaN   25.0    NaN
3                Xətai r.  243000    3/7   135.0    3.0
4               28 May m.  350000   6/17   165.0    3.0
...                   ...     ...     ...    ...    ...
33549             Qala q.   45000     NaN  145.0    4.0
33550           Nizami r.  162500   4/18   130.0    2.0
33551        Nərimanov r.   62000    4/9    34.0    1.0
33552            Bayıl q.  155000    4/5    95.0    3.0
33553        Nərimanov r.  850000  10/11   278.0    5.0

[33554 rows x 5 columns]

In [20]:
regall = df['Locations'].unique()
cities= ['Ağcabədi','Ağdam','Ağdaş','Ağdərə','Ağstafa','Ağsu','Astara','Babək','Bakı','Balakən','Beyləqan','Bərdə','Biləsuvar','Cəbrayıl','Cəlilabad','Culfa','Daşkəsən','Xocalı','Füzuli','Gədəbəy','Gəncə','Goranboy','Göyçay','Göygöl','Göytəpə','Hacıqabul','Horadiz','Xaçmaz','Xankəndi','Xocalı','Xocavənd','Xırdalan','Xızı','Xudat','İmişli','İsmayıllı','Kəlbəcər','Kürdəmir','Qax','Qazax','Qəbələ','Qobustan','Quba','Qubadlı','Qusar','Laçın','Lerik','Lənkəran','Liman','Masallı','Mingəçevir','Naftalan','Naxçıvan','Neftçala','Oğuz','Ordubad','Saatlı','Sabirabad','Salyan','Samux','Siyəzən','Sumqayıt','Şabran','Şahbuz','Şamaxi','Seki','Şəmkir','Şərur','Şirvan','Şuşa','Tərtər','Tovuz','Ucar','Yardımlı','Yevlax','Zaqatala','Zəngilan','Zərdab']
list(filter(lambda x:x not in cities,list(regall)))

['Yasamal r.',
 '7-ci mikrorayon q.',
 'Nəsimi r.',
 'Xətai r.',
 '28 May m.',
 'Bakıxanov q.',
 'Nərimanov r.',
 'Gənclik m.',
 'Memar Əcəmi m.',
 'Elmlər Akademiyası m.',
 'İnşaatçılar m.',
 'Binəqədi q.',
 'İçəri Şəhər m.',
 'Mərdəkan q.',
 'Bilgəh q.',
 'Badamdar q.',
 'Yasamal q.',
 'Yeni Yasamal q.',
 'Həzi Aslanov m.',
 'Sahil m.',
 'Masazır q.',
 '8-ci mikrorayon q.',
 'Buzovna q.',
 'Nizami r.',
 'Şüvəlan q.',
 'Yeni Ramana q.',
 'Şimal DRES q.',
 'Şah İsmayıl Xətai m.',
 'Nardaran q.',
 'Şamaxı',
 'Ramana q.',
 'Əhmədli q.',
 'Suraxanı q.',
 'Əhmədli m.',
 'Neftçilər m.',
 '20 Yanvar m.',
 'Binə q.',
 'Nizami m.',
 '9-cu mikrorayon q.',
 'Pirşağı q.',
 'Zirə q.',
 'Qara Qarayev m.',
 'Azadlıq Prospekti m.',
 'Xalqlar Dostluğu m.',
 'Keşlə q.',
 'Balaxanı q.',
 'Zabrat q.',
 'Səbail r.',
 'Mehdiabad q.',
 'Məmmədli q.',
 'Biləcəri q.',
 'Binəqədi r.',
 'Abşeron r.',
 'NZS q.',
 'Nəriman Nərimanov m.',
 'Yeni Suraxanı q.',
 'Nəsimi m.',
 'Şıxov q.',
 'Qala q.',
 '8 Noyabr m.',
 'Kürdəxanı q.',
 'Şağan q.',
 'Lökbatan q.',
 'Novxanı q.',
 'Yeni Günəşli q.',
 'Şəki',
 '8-ci kilometr q.',
 'Zığ q.',
 '4-cü mikrorayon q.',
 'Bayıl q.',
 'Maştağa q.',
 'Qaraçuxur q.',
 'Həzi Aslanov q.',
 'Qobu q.',
 'Savalan q.',
 'Saray q.',
 'Sulutəpə q.',
 'Fatmayı q.',
 'Hökməli q.',
 'Hövsan q.',
 'Xəzər r.',
 'Zağulba q.',
 'Türkan q.',
 'Sabunçu q.',
 'Suraxanı r.',
 'Sahil q.',
 '20-ci sahə q.',
 'Bülbülə q.',
 'Ceyranbatan q.',
 'Qaradağ r.',
 'Dərnəgül m.',
 'M.Ə.Rəsulzadə q.',
 'Avtovağzal m.',
 'Dədə Qorqud q.',
 'Əmircan q.',
 'Kubinka q.',
 '6-cı mikrorayon q.',
 'Xutor q.',
 'Xocəsən q.',
 'Sabunçu r.',
 'Müşviqabad q.',
 'Köhnə Günəşli q.',
 'Bahar q.',
 'Günəşli q.',
 'Dübəndi q.',
 'Görədil q.',
 'Pirəkəşkül q.',
 '3-cü mikrorayon q.',
 'Qobustan q.',
 '28 May q.',
 'Çiçək q.',
 'Səngəçal q.',
 'Pirallahı r.',
 '5-ci mikrorayon q.',
 '2-ci mikrorayon q.',
 'Koroğlu m.',
 'Yeni Corat q.',
 '2-ci Alatava q.',
 'Ələt q.',
 'Bakmil m.',
 'Massiv D q.',
 'Massiv V q.',
 'Böyükşor q.',
 'Ulduz m.',
 'Ağ şəhər ',
 'Massiv A q.',
 'Digah q.',
 '1-ci mikrorayon q.',
 'Puta q.',
 'Köhnə Corat q.',
 'Yeni Balaxanı q.',
 'Massiv B q.',
 'Sea Breeze ']

In [42]:
df['Floor'] = df['Floor'].fillna("1/1",axis=0)
df['Rooms'] = df['Rooms'].fillna(df['Rooms'].mode()[0])
df

          Locations  Prices   Floor   Area  Rooms  Rent
0      20 Yanvar m.    3900    5/5    80.0    2.0   1.0
1             Qusar     150     1/1  200.0    4.0   1.0
2      Neftçilər m.   10500    6/9    45.0    2.0   1.0
3         Nəsimi r.      80    1/9   100.0    3.0   1.0
4        Görədil q.     120     1/1  210.0    3.0   1.0
...             ...     ...     ...    ...    ...   ...
39909       Qala q.   45000     1/1  145.0    4.0   0.0
39910     Nizami r.  162500   4/18   130.0    2.0   0.0
39911  Nərimanov r.   62000    4/9    34.0    1.0   0.0
39912      Bayıl q.  155000    4/5    95.0    3.0   0.0
39913  Nərimanov r.  850000  10/11   278.0    5.0   0.0

[39914 rows x 6 columns]

In [43]:
floors = []
current_floor = []
for x in np.array(df['Floor']):
    current_floor.append(int(x.split('/')[0]))
    floors.append(int(x.split('/')[1]))
df = df.assign(Floors = floors,Current_floor = current_floor)
df = df.drop(['Floor'],axis=1)
df

          Locations  Prices   Area  Rooms  Rent  Floors  Current_floor
0      20 Yanvar m.    3900   80.0    2.0   1.0       5              5
1             Qusar     150  200.0    4.0   1.0       1              1
2      Neftçilər m.   10500   45.0    2.0   1.0       9              6
3         Nəsimi r.      80  100.0    3.0   1.0       9              1
4        Görədil q.     120  210.0    3.0   1.0       1              1
...             ...     ...    ...    ...   ...     ...            ...
39909       Qala q.   45000  145.0    4.0   0.0       1              1
39910     Nizami r.  162500  130.0    2.0   0.0      18              4
39911  Nərimanov r.   62000   34.0    1.0   0.0       9              4
39912      Bayıl q.  155000   95.0    3.0   0.0       5              4
39913  Nərimanov r.  850000  278.0    5.0   0.0      11             10

[39914 rows x 7 columns]

In [44]:
from sklearn.preprocessing  import LabelEncoder
scaler = LabelEncoder()
df['LocationLabel'] = scaler.fit_transform(df['Locations'])
df

,Locations,Prices,Area,Rooms,Rent,Floors,Current_floor,LocationLabel
0,20 Yanvar m.,3900,80.0,2.0,1.0,5,5,3
1,Qusar,150,200.0,4.0,1.0,1,1,115
2,Neftçilər m.,10500,45.0,2.0,1.0,9,6,93
3,Nəsimi r.,80,100.0,3.0,1.0,9,1,100
4,Görədil q.,120,210.0,3.0,1.0,1,1,53
...,...,...,...,...,...,...,...,...
39909,Qala q.,45000,145.0,4.0,0.0,1,1,106
39910,Nizami r.,162500,130.0,2.0,0.0,18,4,95
39911,Nərimanov r.,62000,34.0,1.0,0.0,9,4,98
39912,Bayıl q.,155000,95.0,3.0,0.0,5,4,32
39913,Nərimanov r.,850000,278.0,5.0,0.0,11,10,98

In [45]:
heyets = np.zeros(len(df))
df= df.assign(villa=heyets)
df.loc[(df['Floors']==1)&(df['Current_floor']==1), 'villa'] = 1
df[(df['Floors']==1)&(df['Current_floor']==1)]

,Locations,Prices,Area,Rooms,Rent,Floors,Current_floor,LocationLabel,villa
1,Qusar,150,200.0,4.0,1.0,1,1,115,1.0
4,Görədil q.,120,210.0,3.0,1.0,1,1,53,1.0
5,Buzovna q.,100,350.0,3.0,1.0,1,1,39,1.0
6,Gənclik m.,90000,200.0,3.0,1.0,1,1,58,1.0
9,Mərdəkan q.,150000,140.0,3.0,1.0,1,1,87,1.0
...,...,...,...,...,...,...,...,...,...
39892,Qəbələ,21000,10.0,3.0,0.0,1,1,116,1.0
39895,Savalan q.,105000,350.0,5.0,0.0,1,1,126,1.0
39896,Əhmədli q.,55000,30.8,3.0,0.0,1,1,179,1.0
39899,Quba,80000,100.0,3.0,0.0,1,1,114,1.0
39909,Qala q.,45000,145.0,4.0,0.0,1,1,106,1.0

In [47]:
from sklearn.model_selection import train_test_split
import xgboost as xg
from sklearn.metrics import accuracy_score
X = df.drop(['Locations','Prices'],axis=1)
y = df['Prices']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=123,test_size=0.6)
xgb_r = xg.XGBRegressor(objective ='reg:squarederror',
                  n_estimators = 15, seed = 123)
# Fitting the model
xgb_r.fit(X_train, y_train)
pred = xgb_r.predict(X_test)
print(pred,np.array(y_test))
# Predict the model
pred = xgb_r.predict(pd.DataFrame({'Area':[50.0],'Rooms':[3],'Floor':[2],'Current_floor':[5],"LocationLabel":[43],'villa':0,'Rent':1}))[0]
print(pred)

[169489.12   27498.45  296001.3   ... 233984.83  544572.    125683.836] [ 190000   24000  320000 ...  230000 2500000   70000]
-5375.295

In [49]:
def predictBina(ar,rm,fl,cfl,ll,ret):
    villa = 0
    ll = np.array(df[df['Locations']==ll]['LocationLabel'])[0]
    if fl==1 and cfl==1:
        villa=1
    pred = xgb_r.predict(pd.DataFrame({'Area':[ar],'Rooms':[rm],'Floor':[fl],'Current_floor':[cfl],"LocationLabel":[ll],'villa':villa,'Rent':ret}))
    return pred[0]
print(predictBina(5200.0,2.0,1,1,1,'Qəbələ'))
df[df['Locations']=='']

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
from numpy import std,mean
data_mean, data_std = mean(df['Prices']), std(df['Prices'])
# identify outliers
cut_off = data_std * 3
lower, upper = data_mean - cut_off, data_mean + cut_off
# identify outliers
outliers = [x for x in df['Prices'] if x < lower or x > upper]
len(outliers)

293

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)
print(pred,np.array(y_test))
model.predict(pd.DataFrame({'Area':[50.0],'Rooms':[3],'Floors':[2],'Current_floor':[5],"LocationLabel":[43],'villa':0}))[0]

[176327.94194679 458123.15379707 207268.47396726 ... 444732.35473585
 133513.95569579 226416.71766237] [  95000 2500000  285000 ...  310000  105000  135000]

c:\users\hp\miniconda3\lib\site-packages\sklearn\base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

2067773.2845547195

In [1]:
def predictBina(ar,rm,fl,cfl,ll):
    villa = 0
    ll = np.array(df[df['Locations']==ll]['LocationLabel'])[0]
    if fl==1 and cfl==1:
        villa=1
    pred = model.predict(pd.DataFrame({'Area':[ar],'Rooms':[rm],'Floors':[fl],'Current_floor':[cfl],"LocationLabel":[ll],'villa':villa}))
    return pred[0]
print(predictBina(50.0,2.0,1,1,'Qəbələ'))

NameError: name 'np' is not defined